.icon-position {
  position: inherit;
  left: 100rem;
  bottom: 75px;
  width: 300px;
  height: 350px;
}

.nav-bar {
  flex-wrap: wrap;
  background-color: #8cbef7;
  margin-bottom: 100px;
}

.header-position {
  position: absolute;
  left: 800px;
  right: 10px;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 60px;
}
